@use "colors" as *;
@use "breakpoints" as *;
@use "shadows" as *;

$slideWidth: 250;
$slideHeight: 200;

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-y: visible;
  // max-width: 400px;
  // left: -400px;

  .carousel__mask {
    position: relative;
    // width: #{$slideWidth}px;
    width: 100%;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
  }

  .carousel__track {
    position: relative;
    display: flex;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
    width: 100%;
    overflow-y: visible;

    &.active {
      transition: 0.3s ease-in-out;
    }

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      box-shadow: $shadow--four;
      position: absolute;
      top: 0;
      left: -400px;
      width: calc(100% + 800px);
    }
  }

  .carousel__slide {
    position: relative;
    left: 0;
    position: relative;
    overflow: hidden;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
    box-shadow: none;
    z-index: 0;
    overflow: visible;

    svg {
      transition: 0.4s ease-in-out;
    }

    &.middle {
      z-index: 9;

      svg {
        box-shadow: $shadow--four;
      }
    }

    &.edge {
      z-index: 3;

      svg {
        box-shadow: $shadow--two;
      }
    }

    &:first-child {
      margin-left: -#{12 / 3 / 12 * 100%};

      @include media-breakpoint-up(sm) {
        margin-left: -#{12 / 3 / 12 * 100%};
      }

      @include media-breakpoint-up(md) {
        margin-left: -#{12 / 3 / 12 * 100%};
      }

      @include media-breakpoint-up(lg) {
        margin-left: -#{12 / 3 / 12 * 100%};
      }

      @media (min-width: 1400px) {
        margin-left: -#{12 / 3 / 12 * 100%};
      }
    }

    width: 100%;
    flex: 1 1 0;
    flex-basis: #{12 / 3 / 12 * 100%};
    width: #{12 / 3 / 12 * 100%};
    min-width: #{12 / 3 / 12 * 100%};
    max-width: #{12 / 3 / 12 * 100%};

    @include media-breakpoint-up(sm) {
      flex-basis: #{12 / 3 / 12 * 100%};
      width: #{12 / 3 / 12 * 100%};
      min-width: #{12 / 3 / 12 * 100%};
      max-width: #{12 / 3 / 12 * 100%};
    }

    @include media-breakpoint-up(md) {
      flex-basis: #{12 / 3 / 12 * 100%};
      width: #{12 / 3 / 12 * 100%};
      min-width: #{12 / 3 / 12 * 100%};
      max-width: #{12 / 3 / 12 * 100%};
    }

    @include media-breakpoint-up(lg) {
      flex-basis: #{12 / 3 / 12 * 100%};
      width: #{12 / 3 / 12 * 100%};
      min-width: #{12 / 3 / 12 * 100%};
      max-width: #{12 / 3 / 12 * 100%};
    }

    @media (min-width: 1400px) {
      flex-basis: #{12 / 3 / 12 * 100%};
      width: #{12 / 3 / 12 * 100%};
      min-width: #{12 / 3 / 12 * 100%};
      max-width: #{12 / 3 / 12 * 100%};
    }

    border-radius: 0;
    margin: 0;
    padding: 0;
  }

  .carousel--arrow {
    width: 40px;
    height: 40px;
    border: none;
    padding: none;
    background: $color--gray-one;
    box-shadow: $shadow--one;
    color: $color--pink;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}

.carousel__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 90px;
}

.carousel__indicator {
  padding: 5px 12px 4px;
  border-radius: 999px;
  font-size: 14px;
  text-transform: uppercase;
  background: $color--pink;
  color: white;
}

.carousel__control {
  background: transparent;
  border: none;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 28px;
  margin: 0px 12px;
  color: $color--pink;
  cursor: pointer;
}
