// $color--purple: #663399;
// $color--purple-light: #bba0d6;
// $color--purple-dark: #542c85;

$color--purple: #913ea0;
$color--purple-light: #eecff3;
$color--purple-dark: #81338f;
$color--orange: #ffb74d;
$color--orange-light: #eecd9d;
$color--orange-dark: #db9833;
$color--pink: #da84a4;
$color--pink-light: #f8bbd0;
$color--pink-dark: #e26f97;
$color--heading: #27212b;
$color--text:#444;
$color--link: #50237c;
$color--gray-one: #f2f3f7;
$color--gray-two: #e2e3eb;
$color--gray-three: #9a9ca1;
$color--gray-four: #656e75;
