// $color--primary: #663399;
// $color--primary-light: #bba0d6;
// $color--primary-dark: #542c85;

$color--primary: #c074cd;
$color--primary-light: #d995e5;
$color--primary-dark: #aa56b9;
$color--secondary: #ffb74d;
$color--secondary-light: #eecd9d;
$color--secondary-dark: #db9833;
$color--tertiary: #da84a4;
$color--tertiary-light: #f8bbd0;
$color--tertiary-dark: #e26f97;
$color--heading: #27212b;
$color--text:#444;
$color--link: #50237c;
$color--gray-one: #f2f3f7;
$color--gray-two: #e2e3eb;
$color--gray-three: #9a9ca1;
$color--gray-four: #656e75;
