@use "colors" as *;
@use "breakpoints" as *;

footer.footer {
  background: $color--gray-five;
  padding: 1.2rem 0;

  p {
    color: white;
    font-size: 16px;
    margin: 0;
  }

  a {
    color: white;
    font-size: 16px;
    text-decoration: underline;
  }
}
