@use "colors" as *;
@use "breakpoints" as *;

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito-sans/nunitosans-regular-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito-sans/nunitosans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito-sans/nunitosans-semibold-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito-sans/nunitosans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito-sans/nunitosans-bold-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito-sans/nunitosans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito-sans/nunitosans-extrabold-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito-sans/nunitosans-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito-sans/nunitosans-black-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito-sans/nunitosans-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;800&display=swap");

html,
body,
div,
p,
span,
small,
input,
::placeholder,
textarea,
button,
a {
  color: $color--text;
  font-family: "Nunito Sans", "Raleway";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--heading;
  font-weight: 600;
  font-family: "Rubik", "Raleway";
  margin-bottom: 1.125rem;

  &.display {
    font-weight: 800;
  }
}

h1 {
  font-size: 46px;
  line-height: 68px;

  &.display {
    font-size: 60px;
  }
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 16px;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
}

a {
  color: $color--pink-dark;
}

.section-heading {
  margin-bottom: 1rem;
  margin-top: 0;
  max-width: 600px;
  font-weight: 900;
  line-height: 3.125rem;
}

.section-description {
  font-size: 20px;
  margin-top: 0;
  max-width: 769px;
}

.section-description:last-of-type {
  margin-bottom: 2rem;
}
