@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;
@use "../utilities" as *;

.one {
  box-shadow: $shadow--one;
  background: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: inline-block;
  margin-bottom: 4rem;
}

.two {
  box-shadow: $shadow--two;
  background: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: inline-block;
  margin-bottom: 4rem;
}

.three {
  box-shadow: $shadow--three;
  background: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: inline-block;
  margin-bottom: 4rem;
}

.four {
  box-shadow: $shadow--four;
  background: white;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  display: inline-block;
  margin-bottom: 4rem;
}

.home {
  .hero {
    padding-top: calc(5rem + 78px);
    position: relative;
    // overflow: visible;

    @include media-breakpoint-up(md) {
      padding-top: calc(5rem + 100px);
    }

    .container {
      position: relative;
      z-index: 1;
    }

    h1 {
      line-height: 76px;
      margin-bottom: 2rem;
      -webkit-box-decoration-break: clone;

      span {
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        color: $color--orange;
        display: inline;

        background: linear-gradient(to bottom right, $color--pink, $color--orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
      }
    }

    .image__wrapper {
      perspective: 1000px;
      margin: 4em auto;
      width: 85%;
      margin-bottom: 500px;

      margin-left: -20px;
      display: none;

      @include media-breakpoint-up(lg) {
        width: 120%;
        margin-left: -20px;
        display: block;
      }
    }

    .image__wrapper:hover {
      .image__inner {
        @include media-breakpoint-up(lg) {
          transform: rotateY(-22deg) rotateX(0deg);
        }
      }

      figure {
        @include media-breakpoint-up(lg) {
          &:nth-of-type(2) {
            top: -28px;
            left: 52%;
            z-index: 1;
            width: 54%;
            height: 54%;

            svg {
              box-shadow: $shadow--four;
            }
          }
        }
      }
    }

    .image__inner {
      transition: 0.3s;
      transform: rotateY(0deg);
      position: relative;

      @include media-breakpoint-up(lg) {
        transform: rotateY(-18deg);
      }
    }

    .image__inner figure {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      z-index: 0;
      transition: 0.2s;

      image {
        position: relative;
        top: 50px;
      }

      svg {
        box-shadow: $shadow--three;
        transition: 0.2s;
      }

      &:nth-of-type(2) {
        top: -32px;
        left: 55%;
        z-index: 1;
        width: 50%;
        height: 50%;
        svg {
          box-shadow: $shadow--three;
        }
      }
    }
  }

  .themes {
    background:linear-gradient($color--gray-one, #ffffff);
  }

  .video {
    text-align: center;

    h2 {
      margin: 0 auto;
      margin-bottom: 48px;
      text-align: center;
    }

    iframe {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      height: 300px;
      max-width: 700px;

      @include media-breakpoint-up(md) {
        height: 400px;
      }
    }
  }

  .features {
    h2.section-heading,
    p.section-description {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    p.section-description:last-of-type {
      margin-bottom: 3rem;
    }

    [class*="col-"]:first-child,
    [class*="col-"]:nth-child(2) {
      padding-bottom: 36px !important;
    }

    .feature {
      padding: 0;
      text-align: center;
      margin: 0 auto;
      max-width: 310px;

      .icon {
        border-radius: $radius--two;
        background-image: linear-gradient(to bottom right, $color--pink, $color--orange);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: $shadow--three;

        img {
          width: 45px;
          height: 45px;
          filter: grayscale(1) invert(1);
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: 16px;
      }

      p {
        margin: 0;

        span {
          font-weight: bold;
          font-family: inherit;
        }
      }
    }
  }

  .themes {
    padding-bottom: 10rem;
    margin-bottom: -5rem;

    h2,
    p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    h2.section-heading {
      margin-bottom: 16px;
    }

    .arrows {
      margin-bottom: 124px;
    }

    .btn {
      margin: 0 auto;
      display: block;
      margin-top: 60px;
    }
  }

  .faqs {
    background: $color--gray-one;

    h2 {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 3rem;
    }
  }
}
