@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;
@use "../utilities" as *;

.themes {
  .hero {
    padding-top: calc(3rem + 78px);
    padding-bottom: 3rem;
    position: relative;
    // overflow: visible;

    .container {
      position: relative;
      z-index: 1;
    }

    h1 {
      line-height: 76px;
      background: linear-gradient(to bottom right, $color--purple-dark, $color--pink, $color--orange);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      margin: 0 auto;
    }
  }

  .themes {
    padding-top: 0;

    .row {
      margin-left: -24px;
      margin-right: -24px;
    }

    [class*="col-"] {
      padding: 24px;
    }

    .theme {
      img {
        width: 100%;
        border-radius: 6px;
        margin-bottom: 12px;
        box-shadow: $shadow--two;

        @include media-breakpoint-up(sm) {
          width: 510px;
          height: 295px;
        }

        @include media-breakpoint-up(md) {
          width: 321px;
          height: 185px;
        }

        @include media-breakpoint-up(lg) {
          width: 278px;
          height: 161px;
        }

        @include media-breakpoint-up(xl) {
          width: 338px;
          height: 195px;
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      .btn {
        margin: 0;
        padding-top: 11px;
        padding-bottom: 9px;
      }
    }
  }
}
